.footer {
  background: #0c0b48;
  width: 1600px;
  height: 408px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1600px;
  height: 408px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row::after {
  content: "";
  background: #ffffff;
  opacity: 0.2;
  width: 1190px;
  border: 1px solid #ffffff;
  margin: -110.35px 0 0 0;
}

.footer__title {
  height: 17.79px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
  margin: 54px 0 0 0;
}

.footer__section-one {
  width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 119px;
  height: 126px;
  font-family: Lato;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin: 6.21px 0 0 0px;
}

.footer__list {
  width: 398px;
  height: 13.84px;
  margin: 79.21px 310px 0 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list li:nth-child(1) {
  margin: 0;
}

.footer__list li:nth-child(2) {
  margin: 0;
}

.footer__list li:nth-child(3) {
  margin: 0;
}

.footer__list li:nth-child(4) {
  margin: 0;
}

.footer__link {
  color: #ffffff;
}

.footer__button {
  width: 52px;
  height: 52px;
  margin: 46.21px 0 0 0;
}

.footer__section-two {
  width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 66px 0 0 0;
}

.footer__column-two {
  width: 223px;
  height: 71.16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84px;
  height: 32px;
  margin: 6px 0 12px 0;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text-one {
  width: 48px;
  height: 17.79px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.footer__text-two {
  width: 29.25px;
  height: 16.68px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.footer__text-three {
  width: 223px;
  height: 18.78px;
  font-family: Oswald;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.footer__contact {
  width: 400px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 133px;
  height: 22px;
}

.footer__telephone a {
  width: 98px;
  height: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 0 6px;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 164px;
  height: 20.76px;
}

.footer__email a {
  width: 136px;
  height: 13.84px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0 0 0 6px;
}

.social__link {
  margin: 0 11.75px;
}
