.slick-slider {
	position: relative;
}

.slick-slider .slick-list {
	overflow: hidden;
}

.slick-slider .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.slick-slider .slick-dots {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slick-slider .slick-dots li {
	margin: 0px 5px;
}

.slick-slider .slick-dots li button {
	font-size: 0;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1px solid #ce24a8;
	background-color: transparent;
}

.slick-slider .slick-dots li.slick-active button {
	background-color: #ce24a8;
}
