//<МИКСИНЫ>=============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>=============================================================================================

//<ШРИФТЫ>=============================================================================================

//<Подключаем шрифты>=============================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
//</Подключаем шрифты>=============================================================================================

//<Шрифт по умолчанию>=============================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>=============================================================================================

//<ПЕРЕМЕННЫЕ>=============================================================================================
$minwidth: 320px;
//</ПЕРЕМЕННЫЕ>=============================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================
@import "nullstyle.scss";

body {
	height: 100%;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================

//<ОБОЛОЧКА>=============================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	//overflow: hidden;
	//min-height: 100%;
}

//</ОБОЛОЧКА>=============================================================================================

//<ОСНОВНАЯ СЕТКА>=============================================================================================
.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>=============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============================================================================================
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============================================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex: 1 0 100%;
	background: url(../../img/bg_main.jpg) center top/cover no-repeat;
	padding: 20px 0;
}

//=========================================================================================
.content {
}
//=========================================================================================
.generation {
	background-color: #f7f7f7;
	padding: 120px 0 120px 0;
	&__block {
	}
	@media (max-width: 900px) {
		padding: 80px 0;
		.block__title,
		.block__text {
			font-size: 16px;
		}
	}
	@media (max-width: 600px) {
		padding: 30px 0;
		.block__title,
		.block__text {
			font-size: 14px;
		}
	}
}
//=========================================================================================
.block {
	text-align: center;
	&__icon {
		margin: 0 0 30px 0;
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 3.6px;
		text-align: center;
		color: #353738;
		text-transform: uppercase;
		margin: 0 0 18px 0;
		line-height: 1.89;
	}

	&__text {
		font-size: 18px;
		line-height: 1.89;
		text-align: center;
		color: #848789;
	}
	&__text-j {
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
		&::after {
			content: "";
			display: block;
			margin: 35px auto 0 auto;
			width: 50px;
			height: 1px;
			background-color: #ebebeb;
		}
	}
	@media (max-width: 1500px) {
		&__text-j {
			&::after {
				margin: 15px auto 0 auto;
			}
		}
	}
}

//=========================================================================================
.brands {
	&-rev {
		.brands__column {
			order: 1;
		}
		.brands__column-b {
			order: 2;
		}
	}

	&-center {
		.brands__column {
			order: 2;
		}
		.brands__column-1 {
			order: 1;
		}
		.brands__column-2 {
			order: 3;
		}
	}

	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__column-b {
		flex: 0 1 66.667%;
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0 0 0 -9px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}

	&__image {
		padding: 0 0 37.51% 0;
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 35px 35px;
		}
	}
	@media (max-width: 1100px) {
		&-center {
			.brands__column {
				order: 1;
			}
			.brands__column-1 {
				order: 2;
			}
			.brands__column-2 {
				height: auto;
				padding: 0 0 70% 0;
				order: 3;
			}
		}
		&__row {
			flex-direction: column;
		}
	}
}
.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		background-color: rgba(100, 194, 158, 0.5);
		opacity: 0;
		visibility: hidden;
		transition: 0.3s 0s;
		flex-direction: column;
		span {
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 2.8px;
			display: block;
			color: #fff;
			margin: 10px 0 0 0;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
			transition: 0.3s 0s;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding: 0 0 70% 0;
	}
}
.ibg {
}

//=========================================================================================

.slider {
	padding: 120px 0 60px 0;
	background-color: #f7f7f7;
	&__body {
	}

	&__item {
		text-align: center;
	}

	&__icon {
		margin: 0 0 35px 0;
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1.8px;
		color: #353738;
		margin: 0 0 20px 0;
		span {
			color: #848789;
			font-weight: 300;
		}
	}

	&__text {
		font-size: 24px;
		font-style: italic;
		line-height: 1.42;
		text-align: center;
		color: #848789;
	}
}

//=========================================================================================

.shoop {
	&__body {
		display: flex;
	}

	&__column {
		flex: 0 1 16.666%;
	}

	&__column--b {
		flex: 0 1 33.333%;
	}

	&__block {
	}

	&__footer {
		padding: 75px 0;
		text-align: center;
		background-color: #282f35;
	}

	&__btn {
		height: 50px;
		line-height: 48px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		display: inline-block;
		letter-spacing: 2.8px;
		font-size: 14px;
		padding: 0px 60px;
		text-transform: uppercase;
		color: #fff;
	}
	@media (max-width: 1100px) {
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&:first-child {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
			}
		}
		&__btn {
			padding: 0 30px;
		}
		&__footer {
			padding: 50px 0;
		}
	}
}
.block-shop {
	height: 100%;
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 50%;
	}

	&__item {
		padding: 0 0 50% 0;
		height: auto;
	}
	&__item--b {
		padding: 0 0 200.27% 0;
	}
	&__item--l {
		padding: 0 0 100% 0;
	}
}

//=========================================================================================
.subscribe {
	&__body {
		max-width: 534px;
		margin: 0 auto;
		text-align: center;
		padding: 110px 0;
	}

	&__logo {
		margin: 0 0 39px 0;
	}

	&__lable {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		margin: 0 0 35px 0;
	}

	&__form {
		display: flex;
	}
	&__input {
		flex: 1 1 auto;
		padding: 0 8px 0 0;
		.input {
			width: 100%;
			height: 69px;
			border: solid 1px #d3d7d9;
			background-color: #ffffff;
			padding: 0px 28px;
			font-size: 20px;
			font-style: italic;
			color: #929292;
		}
	}

	&__button {
		flex: 0 0 126px;
	}

	&__btn {
		width: 100%;
		height: 69px;
		line-height: 69px;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		background-color: #64c29e;
	}
	@media (max-width: 750px) {
		&__body {
			padding: 50px 0;
		}
	}
	@media (max-width: 500px) {
		&__form {
			display: block;
		}
		&__input {
			padding: 0px 0px 8px 0;
		}
	}
}
//</ОСНОВНОЙ БЛОК>=========================================================================
