//=========================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		font-size: 0;
		align-items: flex-start;
	}
	.slick-slide {
	}
	.slick-dots {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin: 0px 5px;
			button {
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				border: 1px solid #ce24a8;
				background-color: transparent;
			}
			&.slick-active {
				button {
					background-color: #ce24a8;
				}
			}
		}
	}
}
//=========================================================================================
